@charset "UTF-8";

@font-face {
    font-family: 'Play';
    src: url('../fontes/Play\ Day\ -\ Personal\ Use.otf') format('opentype');
}

@media (max-width: 768px) {
     .principal {
        background-color: black;
        min-height: 100vh;
        background-image: url('../imagens/wallpaper025.jpeg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

       .nav-principal {
        display: inline;
        align-items: center;
        text-align: center;
        font-size: 1.6em;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.418);
       }

        .ul-principal{
            display: flex;
            flex-wrap: nowrap;
            gap: 28px;
            padding: 20px 0px;
            width: 100%;
            
        }

      .h1-cell{
         color:  white;
         font-weight: 500;
         font-size: 3.7rem;
         padding-left: 18px;
         
     }

     .title {
        color: #8744a7;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.603);
        
     }

     .h2-cell{
        color: rgb(255, 255, 255);
        font-size: 1.3em;
        margin-left: 15px;
        /* margin-top: -30px; */
        
     }

     .h3-cell{
         color: #7f47ad;
         font-weight: bolder;
     }

     .paragrafo-cell {
        color: white;
        line-height: 18px;
        padding-bottom: 30px;
        text-align: justify;
     }

     .paragrafo-secundario {
        color: white;
        line-height: 18px;
     } 

    .academy a{
        color: #e06eeb;
    }

    .curso-em-video a{
        color: #732bad;
    }

    .footer-principal {
        box-shadow: 5px 3px 2px 3px white;
    }
    
    .header-principal img{
        border: 4px solid rgb(128, 72, 145);
        margin-top: 40%;
        margin-bottom: 0;
    }

    .main-principal{
         margin-top: 90%; /*Possivel alteração*/
    }
    
}  

:root {
    --cor-principal:  #9F4BF2;
    --cor-leve:       #AF8AFF;
    --cor-paragrafos: #BEBFBD;
    --cor-de-titulos: #7c37aa;
    --cor-subtitulo:  #E3D6FF;
    --cor-extra:      #a0a0a1;
    --cor-nav:        #060607;
    --cor-curso2:     #E93AB9;
    --cor-curso1:     #4d0dfc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    background-image: url('../imagens/wallpaper020.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

.conteiner{
    padding: 0px 50px;
}

nav {
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    
}


nav > ul {
    display: flex;
    padding: 20px;
   justify-content: space-around;   list-style-type:  none;
   align-items: center;
   
}



nav > ul > li > a {
    color: var(--cor-nav);
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
    color:  var(--cor-extra);
    transition: 0.6s;
}

p {
    line-height: 26px;
}

 header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--cor-principal);
   
}

.simbolo img {
    width: 80px;
    height: 80px;
    border: none;
    margin-bottom: 50px;
    margin-top: -30px;
    align-items: center;
}

.simbolo {
    display: flex;
    align-items: center;
    text-align: center;
    
    
}


.imagem-centralizada {
     text-align: center;
     padding: 20px 0;
}

h1 {
    font-family: 'Play', sans-serif;
    font-weight: normal;
    font-size: 6em;
    text-shadow: 10px 2px 2px 2px black;
   color: var(--cor-de-titulos);

}

h2 {
    font-weight: normal;
    padding: 0px 0px 20px 30px;
    color: var(--cor-subtitulo);
    margin-top: -30px;
}


h3 {
    font-weight: 600;
    padding: 0px 0px 10px;
    color: rgb(24, 24, 24);
}

h1, h2, h3, p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
  }


.bi-github {
    font-size: 1.8em;
}

.bi-instagram {
    font-size: 1.8em;
}

i:hover {
    color: #7729ca;
}

section {
    margin: 22px;
}

section  a {
    color: #d5d0da;
    text-decoration: none;
}

section > p {
    color: black;  /*ALTERAR*/
    text-align: justify;
}

section  a:hover {
    color: var(--cor-curso1);
}

.academy a:hover{
    color: var(--cor-curso2);
}


footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 30px 0px 0px 0px;
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.486);
}

footer > a {
    color: white;
    margin: 20px 20px;
}




